body{
    font-family: 'LucindaHandwriting', 'Lucida Sans', monospace;
    text-align :center;
    margin-top: 10%;
    background-color: #fcb1de;


}

.message{
    font-size:30px;
    font-weight:bold;
    color:black;
}
.heart{

    width:300px;
}
.yes, .no{

    border:none;
    font-family: 'LucindaHandwriting', 'Lucida Sans', monospace;
    text-align :center;
    width: 80px;
    height: 50px;
    border-radius: 50px;

}
.yes{
    background-color: #f7004a;
}
.no{
    background-color: #faafc5;
}